@using Core.Extensions
@model Core.UI.Models.SampleForm

@{
    ViewBag.Title = "Empty Form Sample";
}

<h2>Dynamically Generated Empty Form</h2>

@Html.ActionLink("Generate and Submit Form", "EmptyForm", "Sample", null, new { id = "generate_empty_form_link" })

@Model.ID

@section JavaScript{
    <script language="javascript" type="text/javascript">
    $(function() {
        $('#generate_empty_form_link').click(function() {
            var url = $(this).attr('href');

            var body = $('body');
            var form = $("<form method='post' action=" + url + "/>");
            @foreach(var param in Model.ToParameterList())
            {
                @Html.Raw("form.append($(\"<input type='hidden' name='" + @param.Key + "' value='" + @param.Value + "' />\"));")
            }
            body.append(form);
            form.submit();
        });
    });
    </script>
}